@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');
:root {
    --primary-color: rgb(7, 188, 233);
    --primary-color-darker: rgb(0, 75, 94);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Oxanium', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
}

p {
    text-align: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);

}

form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.relogio {
    font-size: 3em;
}




